---
swagger: "2.0"
info:
  description: "A resource for creating park elsewhere stickers."
  version: "1.0.0"
  title: "Stickers"
  contact: {}
host: "www.showyoucare.org"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /stickers:
    get:
      summary: "Get stickers"
      parameters:
      - name: "Get sticker"
        in: "query"
        required: true
        type: "array"
        items:
          type: "object"
      responses:
        200:
          description: "Status 200"
    post:
      summary: "Create Stickers"
      consumes: []
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "number_stickers"
          properties:
            number_stickers:
              type: "integer"
              description: "The number of stickers which are needed"
            my_reference:
              type: "string"
              description: "Information for records"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "stickers"
            type: "object"
            properties:
              stickers:
                type: "array"
                description: "Sticker definitions"
                items:
                  required:
                  - "sticker_id"
                  - "sticker_url"
                  type: "object"
                  properties:
                    sticker_id:
                      type: "string"
                      description: "UUID"
                    sticker_url:
                      type: "string"
                      description: "URL used by the sticker respondent (Bob)"
                    my_reference:
                      type: "string"
                      description: "Your reference"
